{{#if row '==' '1'}}
<div class="container-promoted-category">
        <div class="col-categ">
                <div class="on-sale-badge">
                       <span><svg><use xlink:href="#icon-tag-solid"></use></svg> ON SALE</span>
                </div>
                <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-c17l16jioo/images/stencil/original/image-manager/sets.png" alt="category image" class="lazyload">
                <div class="container-cta">
                        <span class="category-title">
                                SETS
                        </span>
                        <a href="/sets">SHOP NOW</a>
                </div>
        </div>
        <div class="col-categ">
                <div class="on-sale-badge no_sale">
                       <span><svg><use xlink:href="#icon-tag-solid"></use></svg> ON SALE</span>
                </div>
                <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-c17l16jioo/images/stencil/original/image-manager/clubs.png" alt="category image" class="lazyload">
                <div class="container-cta">
                        <span class="category-title">
                                CLUBS
                        </span>
                        <a href="/clubs">SHOP NOW</a>
                </div>

        </div>
        <div class="col-categ">
                <div class="on-sale-badge">
                       <span><svg><use xlink:href="#icon-tag-solid"></use></svg> ON SALE</span>
                </div>
                <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-c17l16jioo/images/stencil/original/image-manager/carts-bags.png" alt="category image" class="lazyload">
                <div class="container-cta">
                        <span class="category-title">
                                CARTS & BAGS
                        </span>
                        <a href="/carts-bags">SHOP NOW</a>
                </div>
        </div>

</div>
{{else if row '==' '2'}}
<div class="container-promoted-category">
        <div class="col-categ">
                <div class="on-sale-badge">
                       <span><svg><use xlink:href="#icon-tag-solid"></use></svg> ON SALE</span>
                </div>
                <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-c17l16jioo/images/stencil/original/image-manager/apparel.png" alt="category image" class="lazyload">
                <div class="container-cta">
                        <span class="category-title">
                                APPAREL
                        </span>
                        <a href="/apparel">SHOP NOW</a>
                </div>
        </div>
        <div class="col-categ">
                <div class="on-sale-badge no_sale">
                       <span><svg><use xlink:href="#icon-tag-solid"></use></svg> ON SALE</span>
                </div>
                <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-c17l16jioo/images/stencil/original/image-manager/shoes.png" alt="category image" class="lazyload">
                <div class="container-cta">
                        <span class="category-title">
                                SHOES
                        </span>
                        <a href="/shoes">SHOP NOW</a>
                </div>
        </div>
        <div class="col-categ">
                <div class="on-sale-badge">
                       <span><svg><use xlink:href="#icon-tag-solid"></use></svg> ON SALE</span>
                </div>
                <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-c17l16jioo/images/stencil/original/image-manager/accessories.png" alt="category image" class="lazyload">
                <div class="container-cta">
                        <span class="category-title">
                              ACCESSORIES
                        </span>
                        <a href="/accessories">SHOP NOW</a>
                </div>
        </div>
</div>
{{/if}}